 /* @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Cormorant+Infant:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&display=swap');

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Assistant', sans-serif;;
} */